#about-us-list {
    display: grid;
    grid-auto-rows: 90px;
    justify-content: center;
    margin-bottom: 300px;
}

.about-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    list-style: none;
    box-shadow: 0px 2px 2px #aaa;
    background: rgba(255, 255, 255, 0.669);
    padding: 10px 10px 10px 10px;
    height: auto;
    width: 400px;
    margin-bottom: 10px;
}

.personal-advice {
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.685);
    text-shadow: 5px 5px  black;
    font-size: 1.4em;
}

