@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
    text-align: center;
    background-color: rgba(148, 148, 230, 0.288);
    background-image: url('/../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.shuffle {
    background-color: rgba(11, 51, 136, 0.664);
    border: none;
    width: 120px;
    height: 25px;
    margin: 10px;
    color: antiquewhite;
    border-radius: 5px;
}

.todos {
    background-color: rgba(11, 51, 136, 0.664);
    border: none;
    width: 120px;
    height: 25px;
    margin: 10px;
    color: antiquewhite;
    border-radius: 5px;
}

.favorite-button {
    border: none;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 20px;
    left:50% ;
    transform: translate(-50%);
    color: rgb(250, 213, 230);
    background-color: rgba(248, 248, 252, 0);
    font-size: 80px;
    outline-style: none;
}

.home-modal, .alert-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
}

.home-modal-content, .alert-modal-content {
    background-color: rgba(62, 64, 103, 0.902);
    margin: 1% auto; 
    border: 1px solid #888;
    width: 60%;
    height: 80%;
    border-radius: 14px;
}

.home-modal-content {
    padding: 30px;
}

.alert-modal-content {
    padding: 30px;
}

.alert-modal-exit {
    position: absolute;
    color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 1em;
    background-color: rgba(22, 22, 128, 0.93);
    border: none;
    margin-left: -20px;
    margin-bottom: 5px;
}

.modal-exit {
    color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 1em;
    background-color: rgba(22, 22, 128, 0.93);
    border: none;
    margin-left: 20px;
    margin-bottom: 5px;
}

.no-todo-message {
    font-size: 1.5em;
    color: white;
    margin-top: 80px;
}

.no-tasks {
    color: white;
    margin-top: 80px;
}

.task-link {
    color: white;
    font-size: 1.5em;
}

.todays-todos p {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    font-size: 1.4em;
    color: white;
}

.home-todo-align {
    display: flex;
    align-items: center;
    justify-content: left;
}
