@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');

.advice-pic img {
    border-radius: 14px;
}

 .advice-pic {
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 10px 10px 10px;
}

.advice {
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.685);
    text-shadow: 5px 5px  black;
    z-index: auto;
    width: 400px;
    padding: 5px;
    font-size: 1.5em;
} 
