@import url('https://fonts.googleapis.com/css?family=Dokdo&display=swap');

footer {
    background-color: rgb(62,64,103);
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
}

footer h2 {
    font-family: 'Dokdo', cursive;
    font-size: 2.2em;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: rgb(78, 2, 255);
    color: aliceblue
}

.navigation {
    position: fixed;
    bottom: 5px;
    left: 20px;
}

.profile {
    position: fixed;
    bottom: 5px;
    right: 20px;  
}

.avatar {
    border-radius: 100%;
    height: 49px;
}

.sign-out {
    background-color: rgba(11, 51, 136, 0.664);
    border: none;
    color: antiquewhite;
    border-radius: 5px;
}